body{
    background: url(/images/photo_bg.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
}


/* -------------------------------------HEADER --------------------------------------- */

.logo {
    display: block;
    width: 100px;
}

.navbar-toggler {
    display:block;
}

.social_media {
    display: flex;
    gap:1em;
    font-size: 20px;
}

.nav_item a{
    color:white;
    font-size: 18px;
}

/* -------------- MENU HAMBURGER ---------------- */

#navmenu.show {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease-out;
}

#navmenu.show ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 0 auto;
}

#navmenu.show li{
    padding: 1em 0;
}


/* -------------- MAIN ---------------- */

main {
    display: flex;
    text-align: center;
    justify-content: center;
}

.main_card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 5em auto;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.70);

}

.main_card:before{
    content: "";
    position:absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: #fff;
    z-index: -1;
}

.main_card:after{
    content: "";
    position:absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(20px);
}

.main_card:before,
.main_card:after
{
    background: linear-gradient(235deg,#e69d3e, rgba(0, 0, 0, 0.10), #00bcd4);
}

.card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color : white;
    gap: 5em;
}


/* -------------- FOOTER ---------------- */

.footer_block {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 1.5em 0 1em 0;
    gap: 1em;
}

.footer_block i {
    font-size: 16px;
}




/* ----------------- MEDIA QUERRY TABLETTE --------------- */


@media screen and (min-width: 768px) {
    .social_media {
        margin-left: 15%;
    }
}

/* ----------------- MEDIA QUERRY ORDINATEUR PETIT --------------- */


@media screen and (min-width: 992px) {
    .social_media {
        margin-left: 25%;
    }

}

/* ----------------- MEDIA QUERRY ORDINATEUR STANDARD --------------- */


@media screen and (min-width: 1200px) {
    .social_media {
        margin-left: 30%;
        font-size: 25px;
    }

}

/* ----------------- MEDIA QUERRY ORDINATEUR GRAND ECRAN --------------- */


@media screen and (min-width: 1400px) {
    .social_media {
        margin-left: 35%;
    }
}

