body{
    background: url(/images/photo_bg.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
}



/* -------------------------------------HEADER --------------------------------------- */

.logo {
    display: block;
    width: 100px;
}

.navbar-toggler {
    display:block;
}

.social_media {
    display: flex;
    gap:1em;
    font-size: 20px;
}

.nav_item a{
    color:white;
    font-size: 18px;
}

/* -------------- MENU HAMBURGER ---------------- */

#navmenu.show {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease-out;
}

#navmenu.show ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 0 auto;
}

#navmenu.show li{
    padding: 1em 0;
}


/* ------------------------------ MAIN ----------------------------------- */

/* -------------- Fond couleur du bloc CARD ---------------- */


.contact:before{
    content: "";
    position:absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: #fff;
    z-index: -1;
}

.contact:after{
    content: "";
    position:absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(20px);
}

.contact:before,
.contact:after
{
    background: linear-gradient(235deg,#e69d3e, rgba(0, 0, 0, 0.10), #00bcd4);
}


.contact {
    position: relative;
    background-color: rgba(0,0,0, 0.7);
    border-radius: 15px;
    width: 90%;
    max-width: 800px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em auto;
    box-sizing: border-box;
    
}

.questions {
    text-align: center;
    margin-top: 2em;
    color: white;
}

.champs {
    margin-top: 2em;
    
}

.champs form {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
}

.champs input,
.champs textarea {
    width: 100%;
    margin-bottom: 1.5em;
    padding: 10px;
    box-sizing: border-box;
    border:none;
    outline:none;
    border-bottom: 2px solid #00bcd4;
    transition : 0.5s;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.champs input:hover,
.champs textarea:hover {
    border-bottom: 2px solid #e69d3e;
}

.champs textarea {
    height: 100px;
    width: 100%;
    resize: none;
    margin-bottom: 2em;
}

.champs button {
    width: 150px;
    height: 40px;
    border-radius:8px;
    border:none;
    background-color: #00bcd4;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    outline:none;
    transition : 0.5s;
}

.champs button:hover {
    background-color: #e69d3e;
}



/* -------------- Fond couleur du bloc CARD ---------------- */






/* -------------- FOOTER ---------------- */

.footer_block {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 1.5em 0 1em 0;
    gap: 1em;
}

.footer_block i {
    font-size: 16px;
}

.footer_block h3 {
    font-size: 18px;
}



/* ----------------- MEDIA QUERRY TABLETTE --------------- */


@media screen and (min-width: 768px) {
    .social_media {
        margin-left: 15%;
    }

    .contact {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .champs form {
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 600px;
    }
    
    .champs input,
    .champs textarea {
        width: 47%;
        margin-bottom: 1.5em;
        padding: 10px;
    }
    
    .champs textarea {
        height: 100px;
        width: 100%;
        resize: none;
        margin-bottom: 2em;
    }
    
    .champs button {
        width: 180px;
        height: 50px;
        margin: 0 auto;
    }
}

/* ----------------- MEDIA QUERRY ORDINATEUR PETIT --------------- */


@media screen and (min-width: 992px) {
    .social_media {
        margin-left: 25%;
    }



}

/* ----------------- MEDIA QUERRY ORDINATEUR STANDARD --------------- */


@media screen and (min-width: 1200px) {
    .social_media {
        margin-left: 30%;
        font-size: 25px;
    }

    .contact {
        margin-bottom: 14em;
    }

}

/* ----------------- MEDIA QUERRY ORDINATEUR GRAND ECRAN --------------- */


@media screen and (min-width: 1400px) {
    .social_media {
        margin-left: 35%;
    }
}

